.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(0, 0, 0, 0.3);
  backdrop-filter: blur(10px);
  padding: 1.5rem 3rem;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 999;
}

.navbar-logo {
  font-size: 1.5rem;
  font-weight: bold;
  color: #ffffff;
}

.navbar-links a {
  color: #ffffff;
  margin-left: 2rem;
  font-weight: 500;
  position: relative;
}

.navbar-links a::after {
  content: '';
  height: 2px;
  width: 0%;
  background: #fff;
  position: absolute;
  left: 0;
  bottom: -5px;
  transition: width 0.3s ease;
}

.navbar-links a:hover::after {
  width: 100%;
}